
      .frame{
          display:flex;
          flex-wrap:wrap;
          align-items:center;
          justify-content:center;
        }
      .content-box{
        flex:none;  
        width:70%;
      }
      h3{
        padding:12px 8px;
        font-size:24px;
        color:#ffffff;
        font-weight: bold;
        text-align: left;
        Background-color:#A259FF;
      }
      p{
         text-align: left;
         line-heigh:140%;
      }
      hr{
         margin-bottom:50px;
      }
      h1{
        text-align:center;
        margin-bottom:50px;
      }
      body{
           margin:0px;
           
           /*
          opacity:0.5;
        
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: top center;
        background: linear-gradient(white 30%, rgba(black,0)), linear-gradient(rgba(white,0), white 70%) bottom;
        background-image:url('CD57693E-8811-4B98-B182-942CB1FC3975_1_105_c.jpeg');
        */
      }
      .img_bg{
           position:relative;
           z-index:0;
      }
      .img_bg::before{
           content:'';
           position:absolute;
           background-image:url('CD57693E-8811-4B98-B182-942CB1FC3975_1_105_c.jpeg');
           z-index:-1;
           opacity:.3;
           left: 0; right: 0; top: 0; bottom: 0;
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed;
      }
      .footer{
            background-color: #462255;
            opacity: .5;
            color: #ffff;
            font-size: 12px;
            text-align: center;
            padding: 10px 0px;
            margin-top:50px;
      }
      
      @media (max-width:1250px;) {
     
      } 
      
      @media (max-width:500px;){
      .content-box{
        flex:none;  
        width:90%;
      }
      }
