
      .frame{
          display:flex;
          flex-wrap:wrap;
          align-items:center;
          justify-content:center;
        }
      .content-box{
        flex:none;  
        width:70%;
      }
      h3{
        padding:12px 8px;
        font-size:24px;
        color:#ffffff;
        font-weight: bold;
        text-align: left;
        Background-color:#A259FF;
      }
      p{
         text-align: left;
         line-heigh:140%;
      }
      hr{
         margin-bottom:50px;
      }
      h1{
        text-align:center;
        margin-bottom:50px;
      }
      body{
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100% 18px;
        background-position: center center;
        background-image:url('CD57693E-8811-4B98-B182-942CB1FC3975_1_105_c.jpeg');
      
      }
      
      @media (max-width:1250px) {
     
      } 
      
      @media (max-width:500px){
      .content-box{  
        width:90%;}
      }
